@using BlazingRoute.Sample.Routes;
@page "/"

@page "/non-nullable-string/{StringParameter}"
@page "/non-nullable-bool/{BoolParameter:bool}"
@page "/non-nullable-DateTime/{DateTimeParameter:datetime}"
@page "/non-nullable-decimal/{DecimalParameter:decimal}"
@page "/non-nullable-double/{DoubleParameter:double}"
@page "/non-nullable-float/{FloatParameter:float}"
@page "/non-nullable-Guid/{GuidParameter:guid}"
@page "/non-nullable-int/{IntParameter:int}"
@page "/non-nullable-long/{LongParameter:long}"

@page "/nullable-string/{NullableStringParameter?}"
@page "/nullable-bool/{NullableBoolParameter:bool?}"
@page "/nullable-DateTime/{NullableDateTimeParameter:datetime?}"
@page "/nullable-decimal/{NullableDecimalParameter:decimal?}"
@page "/nullable-double/{NullableDoubleParameter:double?}"
@page "/nullable-float/{NullableFloatParameter:float?}"
@page "/nullable-Guid/{NullableGuidParameter:guid?}"
@page "/nullable-int/{NullableIntParameter:int?}"
@page "/nullable-long/{NullableLongParameter:long?}"

@page "/multiple/{MultipleDoubeParameter:double}/{MultipleIntParameter:int?}"

@inject NavigationManager Navigation;

<p>
	Non-Nullables:
</p>
<p>
	StringParameter: @StringParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex1("hello"))">Navigate</button>
</p>
<p>
	BoolParameter: @BoolParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex2(true))">Navigate</button>
</p>
<p>
	DateTimeParameter: @DateTimeParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex3(DateTime.Now))">Navigate</button>
</p>
<p>
	DecimalParameter: @DecimalParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex4(1234m))">Navigate</button>
</p>
<p>
	DoubleParameter: @DoubleParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex5(2.5))">Navigate</button>
</p>
<p>
	FloatParameter: @FloatParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex6(2.6f))">Navigate</button>
</p>
<p>
	GuidParameter: @GuidParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex7(Guid.NewGuid()))">Navigate</button>
</p>
<p>
	IntParameter: @IntParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex8(3))">Navigate</button>
</p>
<p>
	LongParameter: @LongParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex9(long.MaxValue))">Navigate</button>
</p>
<p>
	Nullables:
</p>
<p>
	NullableStringParameter: @NullableStringParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex10("hello"))">Navigate</button>
</p>
<p>
	NullableBoolParameter: @NullableBoolParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex11(true))">Navigate</button>
</p>
<p>
	NullableDateTimeParameter: @NullableDateTimeParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex12(DateTime.Now))">Navigate</button>
</p>
<p>
	NullableDecimalParameter: @NullableDecimalParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex13(1234m))">Navigate</button>
</p>
<p>
	NullableDoubleParameter: @NullableDoubleParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex14(2.5))">Navigate</button>
</p>
<p>
	NullableFloatParameter: @NullableFloatParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex15(2.6f))">Navigate</button>
</p>
<p>
	NullableGuidParameter: @NullableGuidParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex16(Guid.NewGuid()))">Navigate</button>
</p>
<p>
	NullableIntParameter: @NullableIntParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex17(3))">Navigate</button>
</p>
<p>
	NullableLongParameter: @NullableLongParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex18(long.MaxValue))">Navigate</button>
</p>

<p>
	Multiple parameters:
</p>
<p>
	MultipleDoubeParameter: @MultipleDoubeParameter
</p>
<p>
	MultipleIntParameter: @MultipleIntParameter <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateToIndex19(3.5f, 42))">Navigate</button>
</p>

@code
{
	[Parameter] public string StringParameter { get; set; } = default!;
	[Parameter] public bool BoolParameter { get; set; }
	[Parameter] public DateTime DateTimeParameter { get; set; }
	[Parameter] public decimal DecimalParameter { get; set; }
	[Parameter] public double DoubleParameter { get; set; }
	[Parameter] public float FloatParameter { get; set; }
	[Parameter] public Guid GuidParameter { get; set; }
	[Parameter] public int IntParameter { get; set; }
	[Parameter] public long LongParameter { get; set; }

	[Parameter] public string? NullableStringParameter { get; set; }
	[Parameter] public bool? NullableBoolParameter { get; set; }
	[Parameter] public DateTime? NullableDateTimeParameter { get; set; }
	[Parameter] public decimal? NullableDecimalParameter { get; set; }
	[Parameter] public double? NullableDoubleParameter { get; set; }
	[Parameter] public float? NullableFloatParameter { get; set; }
	[Parameter] public Guid? NullableGuidParameter { get; set; }
	[Parameter] public int? NullableIntParameter { get; set; }
	[Parameter] public long? NullableLongParameter { get; set; }

	[Parameter] public double MultipleDoubeParameter { get; set; }
	[Parameter] public int? MultipleIntParameter { get; set; }
}
