@using BlazingRoute.Sample.Routes;
@page "/"

@page "/non-nullable-string/{StringParameter}"
@page "/non-nullable-bool/{BoolParameter:bool}"
@page "/non-nullable-DateTime/{DateTimeParameter:datetime}"
@page "/non-nullable-decimal/{DecimalParameter:decimal}"
@page "/non-nullable-double/{DoubleParameter:double}"
@page "/non-nullable-float/{FloatParameter:float}"
@page "/non-nullable-Guid/{GuidParameter:guid}"
@page "/non-nullable-int/{IntParameter:int}"
@page "/non-nullable-long/{LongParameter:long}"

@page "/nullable-string/{StringParameter?}"
@page "/nullable-bool/{BoolParameter:bool?}"
@page "/nullable-DateTime/{DateTimeParameter:datetime?}"
@page "/nullable-decimal/{DecimalParameter:decimal?}"
@page "/nullable-double/{DoubleParameter:double?}"
@page "/nullable-float/{FloatParameter:float?}"
@page "/nullable-Guid/{GuidParameter:guid?}"
@page "/nullable-int/{IntParameter:int?}"
@page "/nullable-long/{LongParameter:long?}"

@page "/multiple/{MultipleDoubeParameter:double}/{MultipleIntParameter:int?}"

@inject NavigationManager Navigation;

<p>
	Non-Nullables:
</p>
<p>
	StringParameter: @StringParameter <button class="btn btn-primary" @onclick="@(() => Navigation.Index1("hello"))">Navigate</button>
</p>
<p>
	BoolParameter: @BoolParameter <button class="btn btn-primary" @onclick="@(() => Navigation.Index2(true))">Navigate</button>
</p>
<p>
	DateTimeParameter: @DateTimeParameter <button class="btn btn-primary" @onclick="@(() => Navigation.Index3(DateTime.Now))">Navigate</button>
</p>
<p>
	DecimalParameter: @DecimalParameter <button class="btn btn-primary" @onclick="@(() => Navigation.Index4(1234m))">Navigate</button>
</p>
<p>
	DoubleParameter: @DoubleParameter <button class="btn btn-primary" @onclick="@(() => Navigation.Index5(2.5))">Navigate</button>
</p>
<p>
	FloatParameter: @FloatParameter <button class="btn btn-primary" @onclick="@(() => Navigation.Index6(2.6f))">Navigate</button>
</p>
<p>
	GuidParameter: @GuidParameter <button class="btn btn-primary" @onclick="@(() => Navigation.Index7(Guid.NewGuid()))">Navigate</button>
</p>
<p>
	IntParameter: @IntParameter <button class="btn btn-primary" @onclick="@(() => Navigation.Index8(3))">Navigate</button>
</p>
<p>
	LongParameter: @LongParameter <button class="btn btn-primary" @onclick="@(() => Navigation.Index9(long.MaxValue))">Navigate</button>
</p>
<p>
	Nullables:
</p>
<p>
	NullableStringParameter: @NullableStringParameter
</p>
<p>
	NullableBoolParameter: @NullableBoolParameter
</p>
<p>
	NullableDateTimeParameter: @NullableDateTimeParameter
</p>
<p>
	NullableDecimalParameter: @NullableDecimalParameter
</p>
<p>
	NullableDecimalParameter: @NullableDecimalParameter
</p>
<p>
	NullableDoubleParameter: @NullableDoubleParameter
</p>
<p>
	NullableGuidParameter: @NullableGuidParameter
</p>
<p>
	NullableIntParameter: @NullableIntParameter
</p>
<p>
	NullableLongParameter: @NullableLongParameter
</p>

<p>
	Multiple parameters:
</p>
<p>
	MultipleDoubeParameter: @MultipleDoubeParameter
</p>
<p>
	MultipleIntParameter: @MultipleIntParameter <button class="btn btn-primary" @onclick="@(() => Navigation.Index19(3.5f, 42))">Navigate</button>
</p>

@code
{
	[Parameter] public string StringParameter { get; set; } = default!;
	[Parameter] public bool BoolParameter { get; set; }
	[Parameter] public DateTime DateTimeParameter { get; set; }
	[Parameter] public decimal DecimalParameter { get; set; }
	[Parameter] public double DoubleParameter { get; set; }
	[Parameter] public float FloatParameter { get; set; }
	[Parameter] public Guid GuidParameter { get; set; }
	[Parameter] public int IntParameter { get; set; }
	[Parameter] public long LongParameter { get; set; }

	[Parameter] public string? NullableStringParameter { get; set; }
	[Parameter] public bool? NullableBoolParameter { get; set; }
	[Parameter] public DateTime? NullableDateTimeParameter { get; set; }
	[Parameter] public decimal? NullableDecimalParameter { get; set; }
	[Parameter] public double? NullableDoubleParameter { get; set; }
	[Parameter] public float? NullableFloatParameter { get; set; }
	[Parameter] public Guid? NullableGuidParameter { get; set; }
	[Parameter] public int? NullableIntParameter { get; set; }
	[Parameter] public long? NullableLongParameter { get; set; }

	[Parameter] public double MultipleDoubeParameter { get; set; }
	[Parameter] public int? MultipleIntParameter { get; set; }
}
